@use "../abstracts/" as *;
.content{
    width: 100%;
    text-align: center;
    &__area{
        width: 100%;
        @include flex($align:center,$justify:center,$direction:column);
        .content__first__line{
            margin-bottom: 5%;
            @include font($font-family:$secondary-font,$font-weight:900,$font-size:pxToRem(12),$line-height:16px);
            @include color($color:$text-color-extra);
            letter-spacing:1.2px;
        }
        .content__secondary__line-h1, .content__secondary__line-h3{
           @include font($font-family:$primary-font,$font-weight:400,$line-height:40px);
           @include color($color:$text-color-secondary);
        }
        .content__secondary__line-h1{
            @include font($font-size:pxToRem(40));
        }
        .content__secondary__line-h3{
            @include font($font-size:pxToRem(32));
        }
        .content__third__line{
            @include font($font-family:$secondary-font,$font-size:pxToRem(16),$line-height:24px,$font-weight:600);
            @include color($text-color-primary);
            width: 80%;
        }
    }
    &__button{
        @include flex($direction:column);
    }
}
.image{
    width: 100%;
    &__img{
        width: 100%;
        transform: translateX(8%);
    }
}