<header class="header">
    <div class="header__top">
        <figure class="header__top--logo">
            <img src="../assets/icon/ic-logo.svg" alt="Solo">
        </figure>
        <nav class="header__top--nav">
            <ul>
                <include src="./components/navList.html" locals='{
                    "classList":"nav_pk_items",
                    "classLink":"nav_items",
                    "list": "[`Downloads`,`Pricing`,`Features`,`About Us`,`Contact`]" 
                }'>
                    
                </include>
            </ul>
        </nav>
        <div class="header__top--button">
            <button class="dark">Login</button>
            <button class="active">Sign up</button>
        </div>
        <button class="header__top--menu">
            <img src="../assets/icon/ic-logo-menu.svg" alt="menu">
        </button>
    </div>
    <div class="header__bottom">
        <div class="header__bottom--right">
            <span class="text">
                <p class="text--first">RISK-FREE 30 DAY TRIAL</p>
                <h1 class="text--secondary">
                    The best way to organize your work.
                </h1>
                <p class="text--primary">
                    Organize your tasks, lists and reminders in one app.
                </p>
            </span>
            <div class="button">
                <button class="button--active">Try it free</button>
                <button class="button--dark">Watch how it works</button>
            </div>
        </div>
        <figure class="header__bottom--left">
            <img src="../assets/img/pic-hero-Desktop.png" alt="cta">
            <img src="../assets/img/pic-hero-Mobile.png" alt="cta">
            <img src="../assets/img/pic-hero-Tablet.png" alt="cta">
        </figure>
    </div>
</header>